@import url('https://fonts.googleapis.com/css?family=Raleway|Cormorant+Garamond');

body {
    background-color: white;
    color: #333;
    font-family: 'Raleway', serif;
    line-height: 1.7em;
}

h1, h2, h3 { font-family: 'Cormorant Garamond', serif; }
h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }



a:link { color:#0271fb; }
a:visited { color:#bd02fb; }
a:hover, a:focus { color:#000; }
a:active { color:#fb0e02; }

main, header, footer {
    padding: 1em;
    margin: 1em 20%; /* FIXME: this would be dumb on a small screen */
}

article {
    padding-bottom: 3em;
}

article time {
    color: #999;
}

header {
    text-align: center;
    border-bottom: solid #ddd 1px;
}

header p {
    color: #999;
}

footer {
    font-size: 0.8em;
}